<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/static_nonstatic_method_demos/src/ex3_data_types_objects/Demo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ex3_data_types_objects.Demo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="static_nonstatic_method_demos"/>
</launchConfiguration>
